<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title><%= title %></title>
</head>
<body>
  <div class="container" >
    <div class="context">
      <h1>
        <span style="--i:1">i</span>
        <span style="--i:2">o</span>
        <span style="--i:3">t</span>
        <span style="--i:4">-</span>
        <span style="--i:5">m</span>
        <span style="--i:6">e</span>
        <span style="--i:7">t</span>
        <span style="--i:8">e</span>
        <span style="--i:9">r</span>
      </h1>
      <a href="/api-docs" class="btn" target="_self">Documentação da API </a>
      <a href="/api/register" class="btn" target="_self">Registros JSON</a>
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>
</html>
